.main-content {
  display: flex;
  height: calc(100vh - 60px);
  padding: 0 50px;
}

.welcome-card {
  display: inline-flex;
  align-items: center;
  background-color: #5f8346; /*WELCOME CARD COLOUR*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(49, 68, 37, 0.2);
  width: 100%;
  height: 500px;
  margin: auto;
}

.welcome-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.welcome-content {
  width: 80%;
  text-align: center;
}

.get-started-btn {
  padding: 0px 10px;
  width: fit-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.webgl-container {
  position: relative;
}

.webgl {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  margin-top: 20%;
}
.section-container {
  /* display: flex; */
  align-items: center;
  min-height: 100vh; /* This ensures each section is at least the height of the viewport */
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
}

.section-right {
  padding-left: 50%;
  padding-right: 20%;
}

.section-left {
  padding-left: 20%;
  padding-right: 50%;
}

.section-title {
  font-size: 3vmin;
  text-transform: uppercase;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
