.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25%;
}

.login-container {
    background-color: rgb(129, 199, 122);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
    width: 75%;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #45a049;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.intro {
    background-color: #6B8E23;
    text-align: center;
    padding: 20px;
    color: white;
}

.intro img {
    max-width: 100%;
    height: auto;
    border: 5px solid #FFFFFF;
}

.intro h2 {
    margin: 20px 0;
}

#login, #signup, #get-started {
    background-color: #8FBC8F;
    border: none;
    padding: 10px 15px;
    color: rgb(109, 46, 46);
    cursor: pointer;
    border-radius: 5px;
}

#login:hover, #signup:hover, #get-started:hover {
    background-color: #9ACD32;
}
